body {
    font-family: 'Arial', 'Helvetica', sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f9f9f9;
    color: #333;
  }
  
  /* 見出しのスタイル */
  h1 {
    font-size: 2em;
    color: #e02073;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
  }
  
  h2 {
    font-size: 1.5em;
    color: #34495e;
    margin-top: 20px;
  }
  
  h3 {
    font-size: 1.2em;
    color: #7f8c8d;
    margin-top: 15px;
  }
  
  /* 段落のスタイル */
  p {
    margin: 10px 0;
  }
  
  /* 改行された段落への調整 */
  p br {
    margin-bottom: 10px;
  }
  
  /* 画像のスタイル */
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* 箇条書きリスト */
  ul {
    padding-left: 20px;
    margin: 20px 0;
  }
  
  ul li {
    margin-bottom: 5px;
    list-style-type: circle;
  }
  
  /* リンクのスタイル */
  a {
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
    color: #2980b9;
  }

  /* いちご */
p.strawberry {
    cursor: url('いちごの画像を指定'), auto;
}
/* にんじん */
p.carrot {
    cursor: url('にんじんの画像を指定'), auto;
}
/* ホットドッグ */
p.hotdog {
    cursor: url('ホットドッグの画像を指定'), auto;
}

HTML CSSResult Skip Results Iframe
EDIT ON
/* レイアウト */
p {
    width: 200px;
    margin: 10px auto;
    padding: 20px 0;
    border: 1px solid #222;
    text-align: center;
}
/* いちご */
p.strawberry {
    cursor: url('https://drive.google.com/uc?export=view&id=1koz_1lIepRld_lWXILxAQCH8RpB-2jNh'), auto;
}
/* にんじん */
p.carrot {
    cursor: url('https://drive.google.com/uc?export=view&id=1KeKQ720DeyegC4RmuXq4Hnhxe0GYGFJ_'), auto;
}
/* ホットドッグ */
p.hotdog {
    cursor: url('https://drive.google.com/uc?export=view&id=1d3Mlqj1pIn5IBstIUYZyuxWRsuDb4Btj'), auto;
}